

.cityWeatherContainer {
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, rgba(239, 146, 176, 0.4) 16.5%, rgba(239, 146, 176, 0) 75.59%), linear-gradient(360deg, rgba(245, 230, 230, 0.2) 33.79%, rgba(202, 202, 202, 0) 87.16%), #3C0F85;;
  width: 100%;
  height: 100vh;
  flex-direction: column;


}