

.cityWeatherContainer {
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, rgba(239, 146, 176, 0.4) 16.5%, rgba(239, 146, 176, 0) 75.59%), linear-gradient(360deg, rgba(245, 230, 230, 0.2) 33.79%, rgba(202, 202, 202, 0) 87.16%), #3C0F85;;
  width: 100%;
  height: 100vh;
  flex-direction: column;


}


.tomorrowWeather {
  background: #FFFFFF;
  width: 40rem;
  border-radius: 1rem;

  >div{
    padding: 1rem;
    span {
      font-weight: 400;
      color: #393939;
      font-size: 20px;
    }

    h1 {
      color: #393939;
      padding-top: 0.9rem;
      padding-bottom: 0.5rem;
      padding-left: 0.5rem;
    }
  }
}


.tomorrowWeatherData {
  display: flex;
  flex-direction: column;

  div {
    padding-bottom: 0.3rem;

    >span {
      font-size: 18px;
    }
  }
}