.cardContainerDay {
  // max-width: 30rem;
  // max-height: 10rem;
  background: linear-gradient(0deg, rgba(249, 218, 218, 0.2) 4.37%, rgba(0, 0, 0, 0) 83.16%), #259BC0;;
  border-radius: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
}

.cardContainer {
  // width: 30rem;
  // height: 11rem;
  background: linear-gradient(0deg, rgba(249, 218, 218, 0.2) 4.37%, rgba(0, 0, 0, 0) 83.16%), #2C1068;
  border-radius: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}


.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardContentMainInfo {
  color: white;
  padding-left: 30px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 5rem;
  display: flex;
  flex-direction:column;

  >span {
    padding-bottom: 0.5rem;
  }

  >h2 {
    padding-bottom: 0.7rem;
    font-size: 42px;
  }
  p {
    padding-bottom: 0.7rem;
  }

  h3 {
    padding-bottom: 0.7rem;
    font-size:12px;
  }

}


.cardContentSideInfo {
  padding-right: 30px;
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  flex-direction:column;

  >img {
    width: 5rem;
    padding-bottom: 0.7rem;
  }

  >span {
    color: white;
  }
}


@media screen and (max-width: 850px) {
  .cardContentMainInfo {
    padding-right: 2rem;
  }
}