* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 400 1rem "inter", sans-serif;
}

.aa-Autocomplete {
  display: flex;
  flex-direction:column;
  align-items: left;
}

.aa-Input {
  width: 20rem;
  height: 2rem;
  padding-left: 2rem;
}

.aa-Panel {
  background: white;
  margin: 0.5rem;
  border-radius: 5px;
  position: relative;
  display: inline-block;
}

.aa-Source {
  padding: 0.5rem;
  // left: 34.4rem;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  width: 20rem;

  background: white;
  ul {
    list-style-type: none;
    // width: 19rem;

    li{
      padding: 0.2rem;
      cursor: pointer;
    }
  }
}


.search-input-container {

  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  width: 100%;

  padding: 1rem;

  img {
    position: absolute;
    padding-left: 0.4rem;
  }

  >div {

    position: absolute;
    padding-left: 0.4rem;

  }

}